################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodeTest02/bin/Debug/net6.0
/CodeTest02/obj
/UnitTest/bin
/UnitTest/obj
